// Utility

// In dieser Datei kümmern wir uns um die Ausrichtung von Text.

// Eine Ausrichtung bereinigen mit .clearfix
.clearfix {
  &:after {
    clear: both;
    content: " ";
    display: table;
  }
}

// Textausrichtungen festlegen
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.justify {
  text-align: justify;
}

.center {
	text-align: center;
}